@font-face {
	font-family: 'Raleway-Regular';
	src: url("../fonts/Raleway-Regular.580d0778ad25.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Thin';
	src: url("../fonts/Raleway-Thin.9f5eec4e6175.ttf") format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-SemiBold';
	src: url("../fonts/Raleway-SemiBold.17ba6410cbc6.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Bold';
	src: url("../fonts/Raleway-Bold.575e4317521b.ttf") format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-ExtraBold';
	src: url("../fonts/Raleway-ExtraBold.a38a54df0089.ttf") format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Pacifico-Regular';
	src: url("../fonts/Pacifico-Regular.324944d6dae5.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata-Regular';
	src: url("../fonts/Inconsolata-Regular.9d52a8c4fafc.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata-Bold';
	src: url("../fonts/Inconsolata-Bold.55421b062699.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}