{% extends 'base/base.html' %}

{% block content %}

{% include 'home/includes/navbar_mini.html' %}

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="small-background-letter">
					<span>:contact-me</span>
				</div>
				<div class="text-container">
					<h1 class="text-block-header py-5 text-blue">: contact-me</h1>
				</div>
				<h5 class="title text-blue">Get in touch via email_</h5>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-6">
				<div class="text-container">
					<form method="POST" action="">
						{% csrf_token %}
							{% if form.errors %}
								{% for error in form.non_field_errors %}
								<div class="alert alert-danger alert-dismissable fade show" role="alert">
									{{ error|escape }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
								</div>
								{% endfor %}

								{% for field in form %}
									{% for error in field.errors %}
									<div class="alert alert-danger alert-dismissable fade show" role="alert">
										{{ error|escape }}
										<button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
									</div>
									{% endfor %}
								{% endfor %}

							{% endif %}

							{{ form.as_p }}
						<button class="underline-btn" type="submit">
							<span class="btn-text">Send</span>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-6 contact-details">
				<div class="row">
					<div class="col col-md-4">
						<span>Phone Number:</span>
					</div>
					<div class="col col-md-4 detail text-grey">
						<span>+254 750 039077</span>
					</div>
				</div>

				<div class="row">
					<div class="col col-md-4">
						<span>Email:</span>
					</div>
					<div class="col col-md-4 detail text-grey">
						<span>duncanmuiru513@gmail.com</span>
					</div>
				</div>

				<div class="row">
					<div class="col col-md-4">
						<span>GitHub:</span>
					</div>
					<div class="col col-md-4 detail text-grey">
						<span>itsDuncan</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}