@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:400,700");
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700|Zilla+Slab:400,500,600,700&display=swap');

@page {
  margin: 3cm;
  @bottom-left {
    color: #1ee494;
    font-family: 'Comfortaa', cursive;
    content: '♥ Thank you!'; }
  @bottom-right {
    color: #a9a;
    content: 'duncanmuiru513@gmail.com | dun-can.herokuapp.com';
    font-family: 'Zilla Slab', serif;
    font-size: 9pt; } 
}

html {
	color: #14213d;
	font-family: Source Sans Pro;
	font-size: 11pt;
	line-height: 1.6;
}
html body {
	margin: 0; 
}
html h1 {
	color: #00b8ff;
	font-family: 'Comfortaa', cursive;
	font-size: 40pt;
	margin: 0; 
}
html aside {
	display: flex;
	margin: 0em 0 2em;
}
    html aside address {
      font-style: normal;
      white-space: pre-line; }
      html aside address#from {
        color: #a9a;
        flex: 1; }
      html aside address#to {
        text-align: right; }
  html dl {
    text-align: right;
  }
    html dl dt, html dl dd {
      display: inline;
      margin: 0; }
    html dl dt {
      color: #a9a; }
      html dl dt::before {
        content: '';
        display: block; }
      html dl dt::after {
        content: ':'; }

  html table {
    border-collapse: collapse;
    width: 100%; }
    html table th {
      border-bottom: 
      .2mm solid #a9a;
      color: #a9a;
      font-size: 10pt;
      font-weight: 400;
      padding-bottom: .25cm;
      text-transform: uppercase;
  }
    html table td {
      padding-top: 7mm; }
      html table td:last-of-type {
        color: #1ee494;
        font-weight: bold;
        text-align: right; }
    html table th, html table td {
      text-align: center; }
      html table th:first-of-type, html table td:first-of-type {
        text-align: left; }
      html table th:last-of-type, html table td:last-of-type {
        text-align: right; }

.container {
  padding: 1.5rem;
  max-width: 590px;
}

.align-left {
  flex: 1;
}

.align-right {
  text-align: right;
}

.justify-space {
  justify-content: space-between;
}

html table#total {
    background: #f6f6f6;
    border-color: #f6f6f6;
    border-style: solid;
    border-width: 1cm .5cm;
    margin: 1cm 0cm;
    width: 100%;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.black-button {
	text-decoration: none;
	width: 200px;
	display: inline-block;
	position: relative;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	line-height: 4;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	transition: all .3s ease-out;
	background-color: #101010;
	border: none;
	outline: 2px solid #101010;
}

.black-button:hover {
	background: transparent;
	color: #101010;
	transition: all .3s ease-out;
}

.text-center {
	text-align: center;
}

.border-top {
	border-top: 1px solid grey;
}