<!DOCTYPE html>

{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="For Fullstack Web Developer Services, User Experience Design and Graphic Design">
		<meta name="image" content="{% static 'home/img/meta-image.png' %}">
		<meta name="url" content="https://dun-can.herokuapp.com/">
		<meta name="author" content="Duncan Maina">

		{% include 'base/favicon.html' %}

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">

		<title>{% block title %}Duncan | Fullstack Developer{% endblock title %}</title>

		<link rel="stylesheet" type="text/css" href="{% static 'home/css/navbar.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home/css/portfolio.css' %}">
	</head>
	<body>

		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-primary alert-dismissable fade show" role="alert">{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
				</div>
			{% endfor %}
		{% endif %}

		{% block content %}
		{% endblock content %}

		{% include 'base/js.html' %}

		{% block js %}
		{% endblock js %}

		{% block extra_js %}
		{% endblock extra_js %}

		{% block init_js %}
		{% endblock init_js %}

	</body>
</html>