<div class="modal fade white-modal" id="jobSelectorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h5 class="modal-title text-dark text-center" id="exampleModalCenterTitle">How may I serve you?</h5>
				<div class="btn-container">
					<div class="text-container text-center mt-3">
						<button class="underline-btn">
							<span class="btn-text">Graphic Design</span>
						</button>

						<button class="underline-btn">
							<span class="btn-text">Web Development</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>