<div class="modal fade white-modal" id="trackProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h5 class="modal-title text-dark text-center" id="exampleModalCenterTitle">Kindly provide your project name below</h5>
				<form method="POST">
					{% csrf_token %}
					<div class="row mt-5">
						<div class="col">
							{{ form.as_p }}
						</div>
					</div>
					<div class="btn-container dark-btn">
						<div class="text-container text-center">
							<button type="submit" class="underline-btn">
								<span class="btn-text">Submit</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>