{% load static %}

<div class="big-background-letter">
	<span>:duncan</span>
</div>

<section id="landing">
	<div class="container main-text">
		<div id="typed-strings" class="text-container">
			<h1 class="text-block-header">Frontend Web Developer</h1>
			<h1 class="text-block-header">Backend Web Developer</h1>
			<h1 class="text-block-header">User Interface Designer</h1>
			<h1 class="text-block-header">Graphic Designer</h1>
			<h1 class="text-block-header">Mobile Developer</h1>
			<h1 class="text-block-header">Fullstack Web Developer</h1>
		</div>
		<h1 id="typed"></h1>
		<div class="text-container">
			<span class="text-block-slogan">Turn your ideas into reality</span>
		</div>

		<div class="btn-container">
			<div class="text-container mt-3">
				<button class="underline-btn">
					<span class="btn-text">Hire Me!</span>
				</button>
			</div>
			<div class="text-container mt-3">
				<button class="underline-btn">
					<span class="btn-text">Track Project</span>
				</button>
			</div>
		</div>
	</div>
</section>

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="small-background-letter">
					<span>:about-me</span>
				</div>
				<div class="text-container">
					<h1 class="text-block-header py-5 text-dark">: about-me</h1>
				</div>
				<div class="text-container">
					<h5 class="title text-dark">Hi_</h5>
					<p class="text-dark pr-3">I'm a Fullstack Web Developer mainly focusing on <strong>Django</strong> framework. I'm also highly artistic and with a keen eye in <strong>perfection</strong> that goes a long to producing pixel perfect websites.</p>
				</div>
				<div class="text-container mt-3 pt-5">
					<div class="text-container mt-3">
						<button class="underline-btn">
							<span class="btn-text">Request CV</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="about-image pt-5">
					<img class="w-100" src="{% static 'home/img/duncan-maina.jpg' %}">
				</div>
			</div>
		</div>
	</div>
</section>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="small-background-letter">
					<span>:services</span>
				</div>
				<div class="text-container">
					<h1 class="text-block-header py-5 color-blue">: services</h1>
				</div>
			</div>
		</div>

		<div class="row mt-30-reverse">
			<div class="col-lg-4 col-md-6 col-12 mt-30">
				<div class="service">
					<span class="service-icon">
						<i class="fas fa-palette"></i>
					</span>
					<h5>Web Design</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur ratione quod.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-12 mt-30">
				<div class="service">
					<span class="service-icon">
						<i class="fas fa-code"></i>
					</span>
					<h5>Web Development</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur ratione quod.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-12 mt-30">
				<div class="service">
					<span class="service-icon">
						<i class="fas fa-mobile-alt"></i>
					</span>
					<h5>Mobile App Development</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur ratione quod.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="projects">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="small-background-letter">
					<span>:projects</span>
				</div>
				<div class="text-container">
					<h1 class="text-block-header py-5 color-blue">: projects</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<a class="image-link" href="{% static 'home/img/duncan-maina.jpg' %}">
				    <figure>
				        <img class="w-100" src="{% static 'home/img/duncan-maina.jpg' %}" alt="">
				        <figcaption>
				            <h4>Pie</h4>
				            <p>Programer's Interactive Environment</p>
				        </figcaption>
					</figure>
				</a>
			</div>
			<div class="col-md-4">
				<a class="image-link" href="{% static 'home/img/duncan-maina.jpg' %}">
				    <figure>
				        <img class="w-100" src="{% static 'home/img/duncan-maina.jpg' %}" alt="">
				        <figcaption>
				            <h4>...</h4>
				            <p>Ticket Monitoring System</p>
				        </figcaption>
					</figure>
				</a>
			</div>
			<div class="col-md-4">
				<a class="image-link" href="{% static 'home/img/duncan-maina.jpg' %}">
				    <figure>
				        <img class="w-100" src="{% static 'home/img/duncan-maina.jpg' %}" alt="">
				        <figcaption>
				            <h4>...</h4>
				            <p>Analytics Dashboard</p>
				        </figcaption>
					</figure>
				</a>
			</div>
			</div>
		</div>
	</div>
</section>

<footer class="copyright">
	<div class="row no-gutters">
		<div class="col text-center lh-0 mt-3">
			<p>Copyright © 2020. Developed by <a href="https://github.com/itsDuncan" target='_blank' title="Duncan">Duncan Maina</a>. All rights reserved.</p>
		</div>
	</div>
</footer>